@page "/vista"
<h1> Bienvenido a la hora elaboral que desea realizar</h1>
  <button class= "btn btn-primary" @onclick = "Productos"> Registrar productos </button> 
  <button  class= "btn btn-primary" @onclick = "Ventas"> Realizar Ventas </button >
<br>
<button class= "btn btn-primary" @onclick = "Salir" > Salir </button>


@code
{
    public void Productos()
    {

        urlHelper.NavigateTo("/Productos");

    }
    public void Ventas()
    {

        urlHelper.NavigateTo("/Listar");

    }
    public void Salir()
    {

        urlHelper.NavigateTo("/Login");

    }
}